<div class="col-md-4 mt-4">
    <div class="card">  
        <div class="card-box">                        
            <div class="card-image">
                <img src="public/img/rodrigues2.png" class="img-fluid" alt="">
            </div>
            <br>
            <div class="card-content">
                <h4 class="card-title">Wedding Photography</h4>
                <p class="card-text">Rodrigue's Wedding</p>
                <button type="submit" class="btn btn-dark">Add Pictures</button>
            </div>
        </div>
    </div>
</div>