/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
/*Scroll Reveal */
/*scroll reveal*/
#clickableAwesomeFont {
    cursor: pointer
}
.card-container {
    margin: -1em;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    flex: 1 0 30%;
    padding: 1em;
    max-width: 100%;
  }
  
  .card-box {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
  }
  
  .card-image {
    height: 0;
    width: 100%;
    padding-bottom: 50%;
  }
  .card:nth-of-type(5n+1) .card-image {
    /*background:url('img/rodrigues2.png');*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
    
  }
  .card:nth-of-type(5n+2) .card-image {
    background-color: #FF7C35;
  }
  .card:nth-of-type(5n+3) .card-image {
    background-color: #FFCB36;
  }
  .card:nth-of-type(5n+4) .card-image {
    background-color: #25A954;
  }
  .card:nth-of-type(5n+5) .card-image {
    background-color: #007D97;
  }
  
  .card-content {
    padding: 1.5em;
    text-align: center;
  }
  
  .card-title {
    margin: 0 0 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .card-text {
    margin: 0;
  }
  
/*scroll reveal*/

/*Scroll Reveal*/
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background:  #333333;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4d4d4d;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #4d4d4d;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #4d4d4d;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #4d4d4d;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4d4d4d;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #4d4d4d;
}

a.article,
a.article:hover {
    background: #4d4d4d !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/*Gallery*/

.tz-gallery .row > div {
    padding: 4px;
  }
  
  .tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
  }
  
  .tz-gallery h1{
  padding-top: 40px;
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
  color: #333333;
  }
  
  .tz-gallery p{
  
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  color: #333333;
  }
  .tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    
    
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
  }
  
  
  .tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: transparent;
    content: '';
    transition: 0.4s;
  }
  
  .tz-gallery .lightbox:hover:after,
  .tz-gallery .lightbox:hover:before {
    opacity: 1;
  }
  

  .tz-gallery img {
    width: 400px; /* You can set the dimensions to whatever you want */
    height: 400px;
    
    object-fit: cover;
}